body {
  background: linear-gradient(125deg,rgba(44, 126, 158, 1) 36%, rgba(87, 199, 162, 1) 69%);
  height: 97vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

a {
  color: #3690b9;
}

.weather-app {
  background: white;
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
}

.search-input {
  background-color: #d9dee7;
  border: none;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  padding:15px 20px;
  width: 75%;
  border-radius: 6px;
}

.search-button {
  margin-left: 5px;
  font-size: 16px;
  background-color:  #2c7e9e;
  color: white;
  border: none;
  padding:15px 20px;
  line-height: 1;
  border-radius: 5px;
}

main {
  padding: 30px 0;

}
.weather-app-data{
  display:flex;
  justify-content: space-between;
}

.current-temp {
  /*font-size: 48px;*/
  display: flex;
}

.current-city {
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}
.current-details {
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #f65282;
}

.temp-icon {
 position: relative;
 top: 5px;
  /*font-size: 30px;*/
  margin-right: 10px;
  width: 80px;
  height: 80px;
  display: block;
 
}

.temp-value {
  font-size: 80px;
  font-weight: bold;
}

.temp-unit {
  font-size: 28px;
  position: relative;
  top: 8px;
}
.weather-forecast {
  display:flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date{
  text-align: center;
  color:rgba(39, 33, 66, 0.4) ;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
   
}
.weather-forecast-icon{
  font-size: 38px ;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 88px;
  height: 88px;
}

.weather-forecast-temps {
  text-align: center;
  color:#f65282;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size:12px;
}
.weather-forecast-temp{
  padding:0 5px;

}

footer {
  border-top: 1px solid #f9f7fe;
  text-align: center;
  padding-top: 15px;
  font-size: 13px;
  font-weight:400;
  color: rgba(26, 19, 58, 0.4);
}